.group-prd {
    margin: 0 -5px;
    list-style: none;
    padding:0;
}

.group-prd>li {
    float: left;
    padding: 0 5px;
    border-bottom: 1px solid #eee
}

.group-prd.group-1cl {
    margin-right: 0;
    margin-left: 0
}

.group-1cl>li {
    width: 100%;
    padding: 8px 11px 8px 0
}

.group-2cl>li {
    width: 50%
}

.group-3cl>li {
    width: 33.333%
}

.group-4cl>li {
    width: 25%
}

.group-5cl>li {
    width: 20%
}
.group-prd > li .title-14{
	margin-bottom: 5px;
	font-weight:bold;
}
.group-prd .box-prd {
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 1px solid #d2d2d2
}

.group-prd .box-prd:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15)
}

.group-prd .image {
    overflow: hidden;
    text-align: center;
    position: relative
}

.group-prd .content {
    padding-top: 10px
}

.group-prd .box-prd .content {
    padding: 10px
}

.group-prd .title-2row {
    height: 40px;
    line-height: 20px;
    overflow: hidden
}

.group-prd .title-3row {
    height: 54px;
    line-height: 18px;
    overflow: hidden
}

.group-prd .content>*:last-child {
    margin-bottom: 0 !important
}

.group-prd.group-flipVer .content {
    padding-top: 0;
    padding-bottom: 10px
}

.group-prd.group-horPrd .image {
    float: left
}

.group-prd.group-horPrd .content {
    display: table;
    padding: 0 0 0 10px
}
.group-prd .title-14 a{
	text-transform: normal;
	font-weight:bold;
	color:#015f95;
    font-size: 14px;
}
.group-prd .title-14 a.vip1,
.group-prd .title-14 a.vip2{
	color:red;
	text-transform:uppercase;
}
.group-prd .content {
    padding: 10px
}

.group-prd.group-horPrd .content .row {
    overflow: hidden;
    height: 100%
}
.group-prd.group-horPrd .content .price .text{
	font-weight:bold;
	color:#38a345;
}
.group-prd.group-horPrd .content .area .text{
	font-weight:bold;
}